.container {
  display: grid;
  padding: 156px 0 56px;
  background-image: url("../assets/images/mision.jpg");
  background-repeat: no-repeat;
  background-position: center;
  grid-template-rows: 1fr 400px;
}

.infoContainer {
  display: flex;
  padding: 0 20px 46px;
}

.icon {
  width: 46px;
  height: 46px;
  max-width: 48px;
  margin-top: 12px;
  margin-right: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
  font-size: var(--large);
  margin-top: 0;
  font-weight: 700;
  line-height: 1.55;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
  text-transform: none;
}

.description {
  color: #8b8b8b;
  margin: 0 0 20px;
  word-wrap: break-word;
  font-size: 1rem;
  word-break: break-word;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
}

.btnJoin {
  padding: 0 20px;
}

/* .videoContainer{
  padding-bottom: 60px;
} */

.videoImage {
  width: 250px;
  height: auto;
  margin-top: 2px;
  left: 35px;
  position: absolute;
}
.btnPlayContainer {
  top: 100px;
  left: 114px;
  cursor: pointer;
  position: relative;
}

/* .videoImage,
.btnPlayContainer {
  display: grid;
} */

@media (min-width: 375px) {
  .videoImage {
    width: 305px;
  }
  .btnPlayContainer {
    top: 150px;
    left: 136px;
  }

  /* .videoContainer{
    padding-bottom: 126px;
  } */
}

@media (min-width: 425px) {
  .videoImage {
    width: 356px;
  }
  .btnPlayContainer {
    top: 174px;
    left: 162px;
  }
}

@media (min-width: 768px) {
  .container {
    justify-items: center;
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }

  .videoImage {
    right: 50px;
    width: 270px;
    height: auto;
    left: 435px;
    /* display: block;
    position: absolute; */
  }

  .btnPlayContainer {
    top: 120px;
    left: 10px;
    cursor: pointer;
    /* display: block;
    position: relative; */
  }
}

@media (min-width: 1024px) {
  .videoImage {
    width: 402px;
    left: 572px;
  }

  .btnPlayContainer {
    top: 196px;
    left: 18px;
  }
}

@media (min-width: 1440px) {
  .videoImage {
    width: 550px;
    left: 835px;
  }

  .btnPlayContainer {
    top: 296px;
    left: 28px;
  }
}

@media (min-width: 1700px) {
  .videoImage {
    left: 1135px;
  }
  .btnPlayContainer {
    left: 168px;
  }
}

@media (min-width: 2560px) {
  .videoImage {
    left: 1335px;
  }
  .btnPlayContainer {
    left: -290px;
  }
}
