.container {
  display: grid;
  padding: 156px 0 56px;
  background-image: url("../../assets/images/mision.jpg");
  background-repeat: no-repeat;
  grid-template-rows: 1fr 400px;
  background-position: center;
}

.infoContainer {
  display: flex;
  padding: 0 20px 46px;
}

.icon {
  width: 46px;
  height: 46px;
  max-width: 48px;
  margin-top: 12px;
  margin-right: 40px;
}

.textContainer {
  display: flex;
  max-width: 510px;
  flex-direction: column;
}

.title {
  color: var(--white);
  font-size: var(--large);
  margin-top: 0;
  font-weight: 700;
  line-height: 1.55;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
  text-transform: none;
}

.description {
  color: #8b8b8b;
  margin: 0 0 20px;
  word-wrap: break-word;
  font-size: 1rem;
  word-break: break-word;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
}

.btnJoin {
  padding: 0 20px;
}

.videoImage {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("../../assets/images/IMGPlay-TN.jpg");
  background-repeat: no-repeat;
}

@media (min-width: 375px) {
  .videoImage {
    width: 305px;
  }
}

@media (min-width: 768px) {
  .container {
    justify-items: center;
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }

  .videoImage {
    width: 274px;
    height: 340px;
  }

  .btnPlayContainer {
    top: 120px;
    left: 10px;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .videoImage {
    width: 402px;
    height: 500px;
  }

  .container {
    width: 100%;
    padding: 156px 60px 46px;
  }
}

@media (min-width: 1440px) {
  .videoImage {
    width: 550px;
    height: 100%;
  }
}
