.container {
  width: 100%;
  display: grid;
  padding: 90px 16px 80px;
  min-width: 288px;
  align-items: center;
  background-color: transparent;
  grid-template-rows: repeat(3, 1fr);
}

.infoContainer a {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.label {
  color: #9d9d9d;
  font-size: var(--Xsmall);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: 1.9;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
